<%- include('partials/header_logged_in') %>

<style>
  form.is-readonly .btn-save {
	 display: none;
}
form.is-readonly .btn-cancel {
	 display: none;
}
 form.is-readonly input[disabled], form.is-readonly textarea[disabled] {
	 cursor: text;
	 background-color: #fff;
	 border-color: transparent;
	 outline-color: transparent;
	 box-shadow: none;
}
 form.is-editing .btn-edit {
	 display: none;
}

form.is-readonly_2 .btn-delete-yes {
	 display: none;
}
form.is-readonly_2 .btn-delete-cancel {
	 display: none;
}
 form.is-readonly_2 input[disabled], form.is-readonly textarea[disabled] {
	 cursor: text;
	 background-color: #fff;
	 border-color: transparent;
	 outline-color: transparent;
	 box-shadow: none;
}
 form.is-editing_2 .btn-delete {
	 display: none;
}

.search {
    width: 60%;
    margin-bottom: auto;
    margin-top: 20px;
    height: 50px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px
}

.search-input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    margin-top: 5px;
    caret-color: transparent;
    line-height: 20px;
    transition: width 0.4s linear
}

.search .search-input {
    padding: 0 10px;
    width: 100%;
    caret-color: #536bf6;
    font-size: 19px;
    font-weight: 300;
    color: black;
    transition: width 0.4s linear
}

.table-light.doctor {
  --bs-table-bg: darkseagreen;
}


</style>

<section class="section_top">

<div class="jumbotron">
  <div class="container">
  <div class="main-body">

    <div class="row gutters-sm">
      <div class="col-md-5">
        <div class="card mb-2">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <i class="fas fa-file-alt fa-5x"></i>
            </div>
            <br>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">File ID</label>
              <div class="col-sm-9">
              <input class="col-sm-9 text-secondary is-disabled form-control" type="text" value="<%= file[0].file_id  %>"
                name="fileId" disabled>
              </div>
            </div>
            <hr>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">File Type</label>
              <div class="col-sm-9">
                <input class="col-sm-9 text-secondary is-disabled form-control" type="text" value="<%= file[0].type  %>"
                  name="fileType" disabled>
              </div>
          </div>
          <hr>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">File Name</label>
            <div class="col-sm-9">
              <form action="/editFile_name" method="POST" class="form-inline is-readonly">
                <input class="col-sm-10 text-secondary is-disabled form-control" type="text" value="<%= file[0].name  %>"
                  name="fileName" disabled>
                  
                <input type="hidden" value="<%= file[0].file_id %>" name="fileId"> 
                <button type="button" class="btn btn-warning btn-edit js-edit btn-sm ">Change</button>
                <button type="submit" class="btn btn-success mr-1 btn-save js-save btn-sm">Save</button>
                <button type="reset" class="btn btn-danger btn-cancel js-cancel btn-sm">Cancel</button>
            </div>
            </form>
          </div>
          <hr>
          <br>
          <div class="tableFixHead" style="height: 270px;overflow: scroll;">
            <table class="table table-hover tableFixHead">
              <thead class="table-light">
                <tr>  
                  <th scope="col"><h4><span class="badge badge-info badge-secondary">Usernames with viewing rights</span></h4></th>
                  <th scope="col"><h4><span class="badge badge-danger badge-secondary">Remove</span></h4></th>
                </tr>
              </thead>
              <tbody id="myTable_current">
                <% if(currentViewers.length!=0){ var i=1; currentViewers.forEach(function(viewer){ %>
                  <tr>
                    <td>
                      <%=viewer.username%>
                    </td>
                    <td> <form action="/editFile_removeViewer" method="POST">
                      <input type="hidden" value="<%= viewer.id  %>" name="username_id">
                      <input type="hidden" value="<%= file[0].file_id %>" name="file_id">
                      <button type="submit" class="btn btn-danger">X</button>
                    </form>

                    </td>
                  </tr>
                  <% i++; }) %>
                    <% } else{ %>
                      <tr>
                        <td colspan="7">No Viewers</td>
                      </tr>
                      <% } %>
                        <!-- data-target="#myModal" -->
              </tbody>
            </table>
          </div>
          <hr>
          <div class="form-group row">
            <!-- <div class="row"> -->
              <form action="/delete_file" method="POST" class="form-inline is-readonly_2">
                <input class="col-lg-9 text-secondary is-disabled form-control js-delete btn-delete" type="text"
                  value="Delete File" name="fileName" disabled>
                <input style="width: 100%; margin-bottom: 5px; color: black !important; background-color: palevioletred"  class="col-lg-12 text-secondary is-disabled form-control js-delete-yes btn-delete-yes" type="text" value=" Are you sure you want to permanently delete this file?" name="fileName" disabled>
                <input type="hidden" value="<%= file[0].file_id %>" name="file_id">
                <button type="button" class="btn btn-warning btn-delete js-delete btn-sm ">Delete</button>
                <button type="submit" style="margin-left: 40%" class="btn btn-success mr-1 btn-delete-yes js-delete-yes btn-sm">Yes</button>
                <button type="reset" class="btn btn-danger btn-delete-cancel js-delete-cancel btn-sm">Cancel</button>
            <!-- </div> -->
            </form>
          </div>
        </div>
      </div>
      
    </div>
    <div class="col-md-6">
      <div class="card mb-2">
        <div class="card-body">
          <!-- <input class="form-control" id="myInput" type="text" placeholder="Search for username.."> -->
          <div class="search"> <input type="text" id="myInput-doctor" class="search-input" placeholder="Search for doctors to add...">
              </div>

          <div class="tableFixHead" style="height: 270px;overflow: scroll;width: 100%;">
            <table class="table table-hover tableFixHead">
              <thead class="table-light doctor">
                <tr>
                  <th scope="col">No.</th>
                  <th scope="col">Doctor Username</th>
                  <th scope="col">Add</th>
                </tr>
              </thead>
              <tbody id="myTable-doctor">
                <% if(doc_usernames.length!=0){ var i=1; doc_usernames.forEach(function(username){ %>
                  <tr>
                    <td>
                      <%=i; %>
                    </td>
                    <td>
                      <%=username.username%>
                    </td>
                    <td>
                      <form action="/editFile_addViewer" method="POST">
                        <input type="hidden" value="<%= username.id  %>" name="username_id">
                        <input type="hidden" value="<%= file[0].file_id %>" name="file_id">
                        <button type="submit" class="btn btn-success">&#10004;</button>
                      </form>
          
                    </td>
                  </tr>
                  <% i++; }) %>
                    <% } else{ %>
                      <tr>
                        <td colspan="7">No Data Found</td>
                      </tr>
                      <% } %>
                        <!-- data-target="#myModal" -->
              </tbody>
            </table>
          </div>
          <hr>
              <div class="search"> <input type="text" id="myInput-user" class="search-input"
                  placeholder="Search for users to add...">
              </div>
              
            <!-- <input class="form-control" id="myInput-user" type="text" placeholder="Search for username.."> -->
            <div class="tableFixHead" style="height: 270px;overflow: scroll;">
              <table class="table table-hover tableFixHead">
                <thead class="table-light">
                  <tr>
                    <th scope="col">No.</th>
                    <th scope="col">User Username</th>
                    <th scope="col">Add</th>
                  </tr>
                </thead>
                <tbody id="myTable-user">
                  <% if(usernames.length!=0){ var i=1; usernames.forEach(function(username){ %>
                    <tr>
                      <td>
                        <%=i; %>
                      </td>
                      <td>
                        <%=username.username%>
                      </td>
                      <td> <form action="/editFile_addViewer" method="POST">
                        <input type="hidden" value="<%= username.id  %>" name="username_id">
                        <input type="hidden" value="<%= file[0].file_id %>" name="file_id">
                        <button type="submit" class="btn btn-success">&#10004;</button>
                      </form> 
                       
                      </td>
                    </tr>
                    <% i++; }) %>
                      <% } else{ %>
                        <tr>
                          <td colspan="7">No Data Found</td>
                        </tr>
                        <% } %>
                          <!-- data-target="#myModal" -->
                </tbody>
              </table>
            </div>

        </div>

      </div>
     
    </div>
  </div>

</div>
</div>

</section>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
  integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
  integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>

  <script>
    $(document).ready(function () {
        $('.js-edit, .js-cancel').on('click', function () { //, .js-save
          var $form = $(this).closest('form');
          $form.toggleClass('is-readonly is-editing');
          var isReadonly = $form.hasClass('is-readonly');
          $form.find('input,textarea').prop('disabled', isReadonly);
        });
        
      });
       $(document).ready(function () {
          $('.js-delete, .js-delete-cancel').on('click', function () { //, .js-save
            var $form = $(this).closest('form');
            $form.toggleClass('is-readonly_2 is-editing_2');
            // var isReadonly = $form.hasClass('is-readonly_2');
            // $form.find('input,textarea').prop('disabled', isReadonly);
          });

        });
       $(document).ready(function () {
          $("#myInput-user").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable-user tr").filter(function () {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });
         $(document).ready(function () {
            $("#myInput-doctor").on("keyup", function () {
              var value = $(this).val().toLowerCase();
              $("#myTable-doctor tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
              });
            });
          });
  </script>

<%- include('partials/footer') %>
